.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

.popup-content {
	background-color: #fff;
	border-radius: 28px;
	padding: 20px;
	width: 400px;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
}

.popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popup-close-btn {
	font-size: 24px;
	color: #999;
	cursor: pointer;
}

.popup-title {
	font-size: 18px;
	font-weight: bold;
	margin-left: 10px;
}

.rating-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rating-star {
	font-size: 49px;
	color: #ccc;
	cursor: pointer;
	margin-right: 10px;
}

.rating-star:hover,
.rating-star:focus,
.rating-star.active {
	color: #ffc107;
}

.description-container {
	margin-top: 20px;
}

.description-textarea {
	width: 100%;
	padding: 10px 24px;
	border: 1px solid #ccc;
	border-radius: 32px;
	resize: vertical;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	background-color: #efeded;
}

.submit-button {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.submit-button button {
	padding: 2px;
	background-color: red;
	color: #fff;
	border: none;
	border-radius: 28px;
	cursor: pointer;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
}
